[Unit]
Description=Daily writeback of system time to DS1307 RTC

[Timer]
OnBootSec=15min
OnCalendar=daily
Persistent=true
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target
